<%= form_with(model: meal, local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
        <% meal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_area :ingredients %>
  </div>

  <div class="field">
    <%= form.label :protien %>
    <%= form.number_field :protien %>
  </div>

  <div class="field">
    <%= form.label :carbohydrate %>
    <%= form.number_field :carbohydrate %>
  </div>

  <div class="field">
    <%= form.label :fat %>
    <%= form.number_field :fat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
