<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @meal.ingredients %>
</p>

<p>
  <strong>Protien:</strong>
  <%= @meal.protien %>
</p>

<p>
  <strong>Carbohydrate:</strong>
  <%= @meal.carbohydrate %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @meal.fat %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
